# Docker DB Configurations
PGADMIN_DEFAULT_EMAIL=me@example.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_DEFAULT_USERNAME=username
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=asert

# GePG Integration Configurations
PRIVATE_KEYSTORE_PATH=/app/asert-gepg-keys/wubuprivate.pfx
PUBLIC_KEYSTORE_PATH=/app/asert-gepg-keys/wubupublic.pfx
PRIVATE_KEYSTORE_PASSWORD=Pass
PRIVATE_KEY_ALIAS=alias
PUBLIC_KEY_ALIAS=alias
KEYSTORE_TYPE=PKCS12
PUBLIC_KEYSTORE_PASSWORD=Pass
SIGNATURE_ALGORITHM=SHA1withRSA
GEPG_CODE=CODE
SP_CODE=SPCODE
SUB_SP_CODE=CODE
SUB_SP_GFS_CODE=CODE
SYSTEM_ID=CODE
GFS_CODE=CODE
GFS_CODE2=CODE
BILL_EXPIRE_DAYS=15
# API_URL=https://uat1.gepg.go.tz
API_URL=http://localhost:3005

# ASERT Configurations
DEFAULT_ASERT_ADMIN_PASSWORD='Password'

RABBITMQ_HOST=asert-rabbitmq
# RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=username
RABBITMQ_PASSWORD=password
